<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">
    <import resource="applicationContext-resources.xml"/>

    <task:annotation-driven executor="executor" scheduler="scheduler"/>
    <task:executor id="executor" pool-size="3"/>
    <task:scheduler id="scheduler" pool-size="6"/>

    <bean id="adapterServicesActivationJob"
          class="com.onplan.scheduler.AdapterServicesActivationJob"/>
    <bean id="garbageCollectionJob"
          class="com.onplan.scheduler.GarbageCollectionJob"/>

    <task:scheduled-tasks scheduler="scheduler">
      <task:scheduled ref="adapterServicesActivationJob" method="run" fixed-delay="60000"/>
      <task:scheduled ref="garbageCollectionJob" method="run" cron="0 58 6 * * *"/>
    </task:scheduled-tasks>
</beans>
