<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
  <import resource="applicationContext-resources.xml"/>
  <import resource="applicationContext-broker.xml"/>

  <bean id="strategyServiceExporter"
        class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
    <property name="service" ref="strategyService" />
    <property name="serviceInterface">
      <value>com.onplan.service.StrategyServiceRemote</value>
    </property>
  </bean>
  <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
    <property name="mappings">
      <props>
        <prop key="/strategyService">strategyServiceExporter</prop>
      </props>
    </property>
  </bean>

  <bean id="priceServiceExported"
        class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
    <property name="service" ref="priceService" />
    <property name="serviceInterface">
      <value>com.onplan.service.PriceServiceRemote</value>
    </property>
  </bean>
  <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
    <property name="mappings">
      <props>
        <prop key="/serviceConnection">priceServiceExported</prop>
      </props>
    </property>
  </bean>

  <bean id="historicalPriceServiceExported"
        class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
    <property name="service" ref="historicalPriceService" />
    <property name="serviceInterface">
      <value>com.onplan.service.HistoricalPriceServiceRemote</value>
    </property>
  </bean>
  <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
    <property name="mappings">
      <props>
        <prop key="/instrumentService">instrumentServiceExported</prop>
      </props>
    </property>
  </bean>

  <bean id="instrumentServiceExported"
        class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
    <property name="service" ref="instrumentService" />
    <property name="serviceInterface">
      <value>com.onplan.service.InstrumentServiceRemote</value>
    </property>
  </bean>
  <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
    <property name="mappings">
      <props>
        <prop key="/instrumentService">instrumentServiceExported</prop>
      </props>
    </property>
  </bean>
</beans>
