<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">
    <import resource="applicationContext-resources.xml"/>

    <task:annotation-driven executor="executor" scheduler="scheduler"/>
    <task:executor id="executor" pool-size="3"/>
    <task:scheduler id="scheduler" pool-size="6"/>

    <!-- Instantiate the bean and run it once -->
    <bean id="adapterServicesActivatorJob" class="com.onplan.scheduler.AdapterServicesActivator"/>

    <task:scheduled-tasks scheduler="scheduler">
      <task:scheduled ref="adapterServicesActivatorJob" method="run" fixed-delay="60000"/>
    </task:scheduled-tasks>
</beans>
