<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
    <import resource="applicationContext-resources.xml"/>

    <!-- IG Index -->
    <bean id="igIndexConnection"
          class="com.onplan.adapter.igindex.IgIndexConnection"
          init-method="connect">
        <constructor-arg name="apiKey" value="${com.onplan.adapter.igindex.apiKey}"/>
        <constructor-arg name="username" value="${com.onplan.adapter.igindex.username}"/>
        <constructor-arg name="password" value="${com.onplan.adapter.igindex.password}"/>
        <constructor-arg name="severUrl" value="${com.onplan.adapter.igindex.severUrl}"/>
    </bean>
    <bean id="priceService" class="com.onplan.adapter.igindex.IgIndexPriceService">
      <constructor-arg ref="igIndexConnection"/>
    </bean>
    <bean id="instrumentService"
          class="com.onplan.adapter.igindex.IgIndexInstrumentService">
      <constructor-arg ref="igIndexConnection"/>
    </bean>
    <bean id="historicalPriceService"
          class="com.onplan.adapter.igindex.IgIndexHistoricalPriceService">
      <constructor-arg ref="igIndexConnection"/>
    </bean>
</beans>