<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
  <import resource="applicationContext-resources.xml"/>

  <bean id="alertService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
    <property name="serviceUrl" value="http://localhost:8181/alertService"/>
    <property name="serviceInterface" value="com.onplan.service.AlertServiceRemote"/>
  </bean>

  <bean id="strategyService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
    <property name="serviceUrl" value="http://localhost:8181/strategyService"/>
    <property name="serviceInterface" value="com.onplan.service.StrategyServiceRemote"/>
  </bean>

  <bean id="instrumentService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
    <property name="serviceUrl" value="http://localhost:8181/instrumentService"/>
    <property name="serviceInterface" value="com.onplan.service.InstrumentServiceRemote"/>
  </bean>

  <bean id="priceService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
    <property name="serviceUrl" value="http://localhost:8181/priceService"/>
    <property name="serviceInterface" value="com.onplan.service.PriceServiceRemote"/>
  </bean>

  <bean id="virtualMachineService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
    <property name="serviceUrl" value="http://localhost:8181/virtualMachineService"/>
    <property name="serviceInterface" value="com.onplan.service.VirtualMachineServiceRemote"/>
  </bean>
</beans>
